<div class="row">
  <div class="col-md-12">
    <div id="service_methods">
      <h3>Service Method: </h3>
      <p><a class="service_link">&larr; return to service definition</a></p>
      <div class="well">
        <dl>
          <dt>Return Type</dt>
          <dd>{{method.returnType.typeName}}</dd>
          <dt>Arguments</dt>
          <dd>
            <ul>
            {{#each method.arguments}}
              <li id="service_method_argument_{{this.identifier}}">
                {{this.identifier}}: {{this.type.typeName}} {{this.name}}
              </li>
            {{/each}}
            </ul>
          </dd>
        </dl>
        <form method="post">
          <div class="service_method_test" class="form-group">
            <label for="service_method_test_input">Enter a test message:</label>
            <textarea class="form-control" id="service_method_test_input"></textarea>
          </div>
          <button id="service_method_test_button" class="btn btn-primary">Send test message</button>
        </form>
      </div>
    </div>
  </div>
</div>
